* {
    font-family: "Overpass Mono", monospace;
    padding: 0px;
    margin: 0px;
}




.hero {

    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease-in infinite;
    border-bottom: 10px solid 100px;
    margin-bottom: 1.5rem;
}

.main-nav {
    background: #FC466B !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B) i !mportant;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400% 1% !important;
    animation: BackgroundGradient 30s ease-in infinite;
}

.skills li {
    float: left;
    margin: 15px;
}

.mt-5 {
    margin-top: 15%;
}

.skils-img {
    max-height: 3.5rem;
}

.skills {

    margin-top: 90vh;
    background-image: url(../img/botany-dark-green-plants-fern-1687341.jpg);
    background-attachment: fixed;
    max-height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 10vh;
    height: auto;
    background-position: center;
    color: white;


}

.certificate {
    border: 1px;
    box-shadow: 5px 10px 8px #888888;
}

.certificate .certi-info {}

.certi-img {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.hire {
    border: 3px dotted black;
    text-align: center;
}

.skills .skills-have {
    padding: 20px;

}

.skills .skills-dont-have {
    padding: 20px;

}

.footer {
    background-image: url(../img/laptop-1478822_1920.jpg);
    background-attachment: fixed;
    height: auto;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    font-weight: bolder;

}

.my-img {
    min-height: 150px;
    min-width: 150px;
    height: 100%;
    width: 100%;
}

.resume:hover {
    background-color: black !important;
    color: white !important;

}




.main-header > .hero {
    padding-top: 100px;
}


.fa-linkedin,
.fa-github,
.fa-twitter,
.fa-instagram {
    color: white;
}

.fa-instagram:hover {
    color: #fd5949;

}

.fa-github:hover {
    color: #24292E;
}

.fa-linkedin:hover,
.fa-twitter:hover {
    color: #1DA1F2;
}

.btn-floating {
    z-index: -1;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 991px) {
    .my-img {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    .resume {
        display: block;
        margin: 0 auto;
    }

    .intro {
        padding-bottom: 10px;
    }

}
