* {
    font-family: "Overpass Mono", monospace;
    padding: 0px;
    margin: 0px;
}
.skills li {
    float: left;
    margin: 15px;
}

.mt-5 {
    margin-top: 15%;
}

.skils-img {
    max-height: 3.5rem;
}
.card-panel{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.brand-logo {
    font-size: 5rem !important;
    font-family: 'Monoton', cursive;

}


.certificate {
    border: 1px;
    background: white;
    position: relative;
}
.main{
    
    background-color: #20a0f3;
    background-image: linear-gradient(180deg, #20a0f3 0%, #355ce2 24%, #2618d2 49%, #0a0463 75%, #00000a 100%);  
}
.projects{margin-top: -20px;
    padding: 10px;
 
}
.sec-certi{ 
    margin-top: -20px;
    padding: 10px;
}
.certi-img {
    width: 70px;
    height: 70px;
    padding: 5px;
}
.hire {
    border: 3px dotted black;
    text-align: center;
}

.skills .skills-have {
    padding: 20px;

}
.footer {
  
    height: auto;
    width: 100%;
    font-weight: bolder;
    margin-top: -20px;
}

.my-img {
    min-height: 150px;
    min-width: 150px;
    height: 100%;
    width: 100%;
}
.resume{
   background: transparent; 
}
.resume:hover {
    background-color: black !important;
    color: white !important;
}


.close{
  
}

.main-header > .hero {
    padding-top: 100px;
}


.fa-linkedin,
.fa-github,
.fa-twitter,
.fa-instagram {
    color: white;
}

.fa-instagram:hover {
    color: #fd5949;

}

.fa-github:hover {
    color: #24292E;
}

.fa-linkedin:hover,
.fa-twitter:hover {
    color: #1DA1F2;
}

.btn-floating {
    z-index: -1;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 991px) {
    .my-img {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    .resume {
        display: block;
        margin: 0 auto;
    }

    .intro {
        padding-bottom: 10px;
    }

}
